.menu {
    background-color: #fff;
    background-image: url("../images/background_menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}

.menu__title {
    margin: inherit;
    max-width: 780px;
    padding: 100px 0 24px;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.menu__subtitle {
    margin: inherit;
    max-width: 780px;
    text-align: center;
    font-family: "Noto Serif", "Times New Roman", sans-serif;
}

.menu__cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 0;
}